
.menu_list{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 2em 2em;
    background: var(--color-destaque);
}

.menu_item{
    display: inline-block;
    
}

.item_link{
    text-decoration: none;
    color: var(--color-mantra);
    background: var(--color-destaque);
    
}

